<% include ../../partials/header %>
<section>
  <div class="index-container">
    <% include ../../admin/admin-nav %>
    <div class="container">
      <div>
        <h1>Articles</h1>
        <a href="/admin.stylishfunction.com/articles/new">create product</a>
      </div>
      <div>
        <input
          type="text"
          name="article-search"
          class="browser-default"
          id="article-search"
        />
      </div>
      <div class="article-container">
        <div class="row">
          <% for(let article of articles) { %>
          <div class="col s12 m6 l4">
            <div class="card">
              <div class="card-image">
                <img src="<%= article.image %>" alt="<%= article.image %>" />
              </div>
              <div class="card-content">
                <a
                  href="/admin.stylishfunction.com/articles/<%= article._id %>"
                >
                  <span class="card-title"> <%= article.title %> </span>
                </a>
                <p><%= article.description %></p>
              </div>
              <a
                href="/admin.stylishfunction.com/articles/<%= article._id %>/edit"
                class="btn"
                >Edit</a
              >
              <a href="/" class="btn btn-small">delete</a>
              <a href="/" class="btn btn-small disabled">Publish</a>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</section>
