<!-- product title -->
<label for="article-title">Article Title</label>
<input id="article-title" class="product-input browser-default" type="text" value="<%= Article.title %>"
  name="Article[title]" required />

<!-- main category  -->
<label for="media">Product Media</label>
<input id="media" class="product-input browser-default" type="text" value="<%= Article.video %>"
  name="Article[video]" />

<!-- product price -->
<label for="article-price">Price</label>
<input id="article-price" class="product-input browser-default" type="text" value="<%= Article.price %>"
  name="Article[price]" />

<!-- main image upload -->
<label for="main-image">Main Image</label>
<input id="main-image" class="product-input browser-default" type="text" value="<%= Article.main_image %>"
  name="Article[main_image]" required />

<!-- sub image upload -->
<label for="sub-images">Sub Images</label>
<input id="sub-images" class="product-input browser-default" type="text" value="<%= Article.sub_images %>"
  name="Article[sub_images]" />

<!-- link address -->
<label for="link-address">link address</label>
<input id="link-address" class="product-input browser-default" type="text" value="<%= Article.linkAddress %>"
  name="Article[linkAddress]" />

<!-- brief description -->
<label for="brief-description">Brief Description</label>
<input id="brief-description" class="product-input browser-default" type="text" value="<%= Article.description.brief %>"
  name="Article[description.brief]" required />

<!-- product description -->
<label for="main-description">Main Description</label>
<textarea id="main-description" class="product-input browser-default" name="Article[description.main]" required><%= Article.description.main %>
</textarea>