<!-- product title -->
<label for="product-title">Product Title</label>
<input id="product-title" value="<%= product.title %>" class="product-input browser-default" type="text"
  name="Product[title]" />

<!-- main category  -->
<label for="main-category">Main Category</label>
<input id="main-category" value="<%= product.main_category %>" class="product-input browser-default" type="text"
  name="Product[main_category]" />

<!-- product price -->
<label for="product-price">Price</label>
<input id="product-price" value="<%= product.price %>" class="product-input browser-default" type="text"
  name="Product[price]" />

<!-- main image upload -->
<label for="main-image">Main Image</label>

<input id="main-image" value="<%= product.main_image %>" class="product-input browser-default" type="text"
  name="Product[main_image]" />

<!-- link address -->
<label for="link-address">link address</label>
<input id="link-address" value="<%= product.linkAddress %>" class="product-input browser-default" type="text"
  name="Product[linkAddress]" />

<!-- product description -->
<label for="description">Product Description</label>
<textarea id="description" class="product-input browser-default"
  name="Product[description]"><%= product.description %></textarea>