<% include ../partials/header %>
<% include ../admin/admin-nav %>
<h1>products</h1>
<div><input class="browser-default" type="text" /></div>
<div style="display: flex; justify-content: space-between">
<section style="min-width: 700px">
    <h4>sofa products</h4>
<% indexProducts.forEach(product => { %>
    <ul class="collection">
        <li class="collection-item avatar">
           <a href="/admin/products/<%=product._id%>"> 
            <img src="<%=product.main_image%>" alt="" class="circle">
           </a>
            <span class="title"><%=product.title%></span>
            <a href="/admin/products/<%=product._id%>" class="secondary-content"><i class="material-icons">info</i></a>
        </li>
    </ul>
 <% }) %>
</section>
<section style="min-width: 700px">
    <h4>table products</h4>
 <% tableIndex.forEach(product => { %>
    <ul class="collection">
        <li class="collection-item avatar">
           <a href="/admin/products/<%=product._id%>"> 
            <img src="<%=product.main_image%>" alt="" class="circle">
           </a>
            <span class="title"><%=product.title%></span>
            <a href="/admin/products/<%=product._id%>" class="secondary-content"><i class="material-icons">info</i></a>
        </li>
    </ul>
 <% }) %>
</section>
<section>
    <h4>featured section</h4>
   <% featuredProducts.forEach(product =>{ %>
        <%= product._id %>
   <% }) %>
</section>
</div>
 
<% include ../partials/footer %>