<% include ../../partials/header %>

<div class="index-container">
  <% include ../../admin/admin-nav %>
  <section class="product-container container">
    <h1>seating products</h1>
    <div class="product-index">
      <div class="product-filter-section">
        <span>Filter</span>
        <ul class="product-filter-options">
          <li><a href="#">modular</a></li>
          <li><a href="#">modular</a></li>
        </ul>
      </div>
      <a href="/admin/products/seating/new">Create New Product</a>
      <input type="text" placeholder="search" />
    </div>
    <div class="product-display-container">
      <div class="row">
        <% seatingProducts.forEach(seating =>{ %>
        <div class="col s12 m6 l4 card-container">
          <div class="card">
            <div class="card-image">
              <img src="<%= seating.main_image %>" />
            </div>
            <div class="card-content">
              <a href="/admin/products/seating/<%= seating._id %>"><%= seating.title %></a>
              <span>$<%= seating.price %></span>
            </div>
            <a class="btn" href="/admin/products/seating/<%= seating._id %>">More Info</a>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </section>
</div>