<%- include("../partials/header") %> <%- include("../partials/nav") %>

<section class="container">
  <div class="article-section">
    <h1>Articles</h1>
    <div class="row">
      <% for(const article of articles) { %>
      <div class="article-container">
        <div class="card article-container_card">
          <div class="card-image article-container_image-container">
            <img src="<%= article.image.url %>" alt="" />
          </div>
          <div class="card-content article-container_content">
            <div class="card-title">
              <h3>
                <a href="/articles/<%= article.slug %>">
                  <%= article.title %>
                </a>
              </h3>
            </div>

            <p class="article-description"><%= article.description %></p>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</section>
<%- include("../partials/footer") %>
