<% include ../partials/header %> <%- include('../partials/nav') %>
<section
  class="display-header-container"
  style="display: flex; flex-direction: column"
>
  <div class="container">
    <div
      class="article-product-description"
      style="
        padding: 1rem;
        margin: 1rem 0;
        border-bottom: 4px solid rgba(51, 51, 51, 0.5);
      "
    >
      <h1 style="margin: 0; text-align: center"><%= articles.title %></h1>
      <p><%= articles.description %></p>
    </div>
    <div class="row" style="margin-bottom: 1rem">
      <% for(let product of articles.products){ %>
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image">
            <img src="<%= product.image.url %>" alt="" />
          </div>
          <div class="card-content">
            <h3 style="margin: 0.5rem">
              <a
                href="/articles/<%= articles.slug %>/products/<%= product.slug %>"
                class="card-title"
              >
                <%= product.title %>
              </a>
            </h3>
            <p><%= product.description %></p>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
  <% include ../partials/footer %>
</section>
