<% include ../partials/header %>
<% include ../partials/nav %>

<main classs="product-show-page">
  <h1 class="product-show-page-title"><%= products.title %></h1>
  <section class="main-section">
    <div class="main-image-section">
      <img src="<%= products.main_image %>" alt="main-image" />
    </div>

  <section class="product-description">
    <div class="product-description-body">
      <p class="product-price product-details"><strong>$<%= products.price %></strong></p>
      <p class="product-description-info product-details"><%= products.description %></p>
    </div>
  </section>
  <section class="product-show-page-button-container">
      <a class="btn product-show-page-button" type="button" style="color: white" href="<%= products.linkAddress %>" target="_blank">more info</a>
  </section>
</main>






<% include ../partials/footer %>