<% include ../partials/header %>
<% include ../partials/nav %>

<main class="container">
  <p class="content-title"><%= showProductDetails.title %></p>
  <section id="main-section">
    <div class="image-section">
      <img src="<%=showProductDetails.main_image %>" alt="main-image" />
    </div>
    <section class="sub-images mobile-sub-pictures">
      <% showProductDetails.sub_image.forEach(img =>{ %>
      <img src="<%= img %>" alt="<%= img.title %>">
      <% }) %>
    </section>
    <div class="container">
      <div class="content-body">
        <p class="content-desc"><%= showProductDetails.description %></p>
        <p class="content-price deskTop-price"><strong>$<%= showProductDetails.price %></strong></p>
      </div>
    </div>
  </section>
  <section class="sub-images large-sub-pictures">
    <% showProductDetails.sub_image.forEach(img =>{ %>
    <img src="<%= img %>" alt="">
    <% }) %>
  </section>
  </div>
  <section class="button-container">
    <div>
      <a class="btn btn-small show-page-btn mobile-purchase-button" href="https://bit.ly/2OxIBgU" target="_blank">more
        info</a>
    </div>
  </section>
</main>






<% include ../partials/footer %>