<% include ../partials/header %>

<nav id="navigation">
  <% include ../partials/nav %>
</nav>
<!-- page intro-description section -->
<section class="page-intro">
  <div class="container">
    <h3>Seating</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem vel minus atque dignissimos eum aliquam labore
      reiciendis! Minus eligendi voluptas ipsam dolorem aut quia blanditiis facilis iste repellat quidem dolores nisi
      veritatis necessitatibus architecto animi in tempore consequuntur, doloremque accusamus, deleniti reprehenderit
    </p>
  </div>
</section>
<!-- Page filter section with a search bar and select menu -->
<section id="filter-section">
  <div class="container">
    <div class="category-filter filter">
      <span class="category-title">Categories:</span>
      <ul>
        <li><a href="">seating</a></li>
        <li><a href="">storage</a></li>
        <li><a href="">table</a></li>
      </ul>
    </div>
    <div class="price-filter filter">
      <span class="category-title">Sort By:</span>
      <ul>
        <li><a href="">newest</a></li>
        <li><a href="">low to high</a></li>
        <li><a href="">high to low</a></li>
      </ul>
    </div>
  </div>
</section>
<main id="product-features">
  <div class="container">
    <div class="row">
      <% seating.forEach(seats => { %>
      <aside id="aside-categories" class="product-aside">
        <p>categories</p>
        <ul>
          <a href="/seating">
            <li>seating</li>
          </a>
          <a href="/storage">
            <li>storage</li>
          </a>
          <a href="/table">
            <li>tables</li>
          </a>
        </ul>
      </aside>
      <aside id="aside-filter" class="product-aside">
        <p> filter </p>
        <ul>
          <a href="/seating">
            <li>Newest</li>
          </a>
          <a href="/storage">
            <li>Low - High</li>
          </a>
          <a href="/table">
            <li>High - Low</li>
          </a>
        </ul>
      </aside>
      <div class="product-card col s12 m6 l4">
        <div class="card">
          <div class="card-image">
            <a href="<%= seats._id %>" target="_blank">
              <img src="<%= seats.main_image %>" alt="<%= seats.title %>" />
            </a>
          </div>
          <div class="purchase-information">
            <p class="card-title"> <a href="<%= seats._id %>" target="_blank"><%= seats.title %> </p></a>
            <p class="card-price"><%= `$${seats.price}` %></p>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</main>
<ul class="pagination center white s12">
  <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
  <li class="active"><a href="#!">1</a></li>
  <li class="waves-effect"><a href="#!">2</a></li>
  <li class="waves-effect"><a href="#!">3</a></li>
  <li class="waves-effect"><a href="#!">4</a></li>
  <li class="waves-effect"><a href="#!">5</a></li>
  <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
</ul>

<% include ../partials/footer %>