<% include ../partials/header %>
<% include ../partials/nav %>

<!-- page intro-description section -->
<section class="page-intro">
  <div class="container">
    <h3>Seating</h3>
    <div class="secondary-nav"> Categories:
      <a href="">modular</a>
      <a href="">alternative</a>
      <a href="">lounge</a>
    </div>
  </div>
</section>
<section id="filter-section">
  <div class="container">
    <div class="price-filter filter">
      <span class="category-title">Sort By:</span>
      <ul class="inActive">
        <li><a href="/newest">newest</a></li>
        <li><a href="/low-price">low to high</a></li>
        <li><a href="/high-price">high to low</a></li>
      </ul>
    </div>
  </div>
</section>
<main id="product-features">
  <div class="container">
    <div class="row">
      <% lowPricing.forEach(seating_lowPrice_products => { %>
      <!-- desktop filter section -->
      <aside id="aside-filter" class="product-aside">
        <p> filter </p>
        <ul>
          <li>
            <a href="/newest">Newest</a>
          </li>
          <li>
            <a href="/low-price">Low - High</a>
          </li>
          <li>
            <a href="/high-price">High - Low</a>
          </li>
        </ul>
      </aside>
      <div class="product-card col s12 m6 l4">
        <div class="card">
          <div class="card-image">
            <a href="seating/<%= seating_lowPrice_products._id %>" target="_blank">
              <img src="<%= seating_lowPrice_products.main_image %>" alt="<%= seating_lowPrice_products.title %>" />
            </a>
          </div>
          <div class="purchase-information">
            <p class="card-title">
              <a href="seating/<%= seating_lowPrice_products._id %>" target="_blank">
                <%= seating_lowPrice_products.title %>
              </a>
            </p>
            <p class="card-price"><%= `$${seating_lowPrice_products.price}` %></p>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</main>

<% include ../partials/pagination %>
<% include ../partials/footer %>