<% include ../partials/header %>
<% include ../partials/nav %>


<div class="container">
  <section class="page-intro">

    <h3>Tables</h3>
    <aside>
      <div class="category-filter filter">
        <p class="filter-title">Category
          <span class="material-icons arrow-down">keyboard_arrow_down</span>
          <span class="material-icons arrow-up">keyboard_arrow_up</span>
        </p>
        <div class="category-nav category">
          <a href="/seating/modular-sectional">*change to table cats*</a>
          <a href="/seating/alternative-seating">alternative seating</a>
          <a href="/seating/lounge-seating">sleeper sofa</a>
        </div>
      </div>
      <div class="sort-filter filter">
        <div class="filter-title">Sort
          <span class="material-icons arrow-down">keyboard_arrow_down</span>
          <span class="material-icons arrow-up">keyboard_arrow_up</span>
        </div>
        <div class=category-nav sort">
          <a href="/seating/newest">newest</a>
          <a href="/seating/low-price">low to high</a>
          <a href="/seating/high-price">high to low</a>
        </div>
      </div>
    </aside>

  </section>
</div>
<main class="product-features">
  <div class="container">
    <div class="row">
      <% tableProducts.forEach(tableProduct => { %>
      <div class="product-card col s12 m6 l4">
        <div class="card">
          <div class="card-image">
            <a href="/seating/<%= tableProduct._id %>">
              <img src="<%= tableProduct.main_image %>" alt="<%= tableProduct.title %>" />
            </a>
          </div>
          <div class="purchase-information">
            <h4>
              <a class="card-title" href="/category/tables/<%= tableProduct._id %>">
                <%= tableProduct.title %>
              </a>
            </h4>
            <aside class="card-price"><%= `$${tableProduct.price}` %></aside>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</main>

<% include ../partials/pagination %>
<% include ../partials/footer %>