<% include ../../partials/header %>

<article class="message-show-page">
  <% include ../../admin/admin-nav %>
  <div class="message-show-container container" style="outline: 4px solid black;">
    <section class="message-details">
      <span class="message-label message">Message from: </span>
      <p class="contact-name"><%= message.name %></p>
      <span class="message-label subject">Subject: </span>
      <p class="contact-subject"><%= message.subject %></p>
      <span class="message-label email">Email Address: </span>
      <p class="contact-email"><%= message.email %></p>
      <span class="message-label message">Message</span>
      <p class="contact-message"><%= message.message %></p>
    </section>
    <section class="message-button-container">
      <a href="/admin/messages" class="message-back-button btn red">Back</a>
      <form action="/admin/messages/<%= message._id %>_?method=DELETE">
        <button class="message-delete-button btn">Delete</a>
      </form>
    </section>
  </div>
</article>