<% include ../../partials/header %>

<main class="message-page">
  <% include ../../admin/admin-nav %>
  <section class="container message-center-header">
    <div class="message-center-container">
      <h1>Messages</h1>
      <div class="message-filter">
        <span>sort</span>
        <aside class="message-filter">
          <ul>
            <li><a href="#">Old</a></li>
            <li><a href="#">New</a></li>
          </ul>
        </aside>
      </div>
    </div>
    <div class="collection container">
      <% messages.forEach(message =>{ %>
      <a href="/admin/messages/<%= message._id %>" class="collection-item">
        <div class="collection-item-info">
          <div class="collection-group collection-name"><%= message.name %></div>
          <div class="collection-group collection-subject"><%= message.subject %></div>
          <div class="collection-group collection-date">
            <%= message.created_on.toLocaleDateString() %></div>
          <form action="/admin/messages/<%= message._id %>?_method=DELETE" method="POST">
            <button class="material-icons btn">delete</button>
          </form>
        </div>
      </a>
      <% }) %>
    </div>
  </section>
</main>