<% include ../../partials/header %>

<article class="message-page">
  <% include ../../admin/admin-nav %>

  <section class="message-details container">
    <h1>Message Center</h1>
    <p class="contact-name">
      <span class="message-label message">from: </span><%= message.name %>
    </p>
    <p class="contact-subject">
      <span class="message-label subject">subject: </span><%= message.subject %>
    </p>
    <p class="contact-email">
      <span class="message-label email">email: </span><%= message.email %>
    </p>
    <p class="contact-message">
      <span class="message-label message">message: </span><%= message.message %>
    </p>
    <aside class="message-button-container">
      <a href="/admin/messages" class="message-back-button btn back">Back</a>
      <form
        action="/admin/messages/<%= message._id %>?_method=DELETE"
        method="POST"
      >
        <button class="material-icons btn">delete</button>
      </form>
    </aside>
  </section>
</article>
