<% include ../../partials/header %>

<article class="show-page">
   <% include ../../admin/admin-nav %>
   <div class="show-page-container container">
      <section class="show-page-information">
         <div class="main-image-container">
            <div class="main-image">
               <img src="<%= product.main_image %>" />
            </div>
            <aside class="image-container">
               <% product.sub_images.forEach(sub_image =>{ %>
               <img src=" <%= sub_image %>" />
               <% }) %>
            </aside>
         </div>
         <section class="product-details">
            <div>
               <h1 class="product-title"><%= product.title %></h1>
               <p class="product-price">$<%= product.price %></p>
               <p class="product-description"><%= product.description %></p>
            </div>
            <section class="show-page-buttons">
               <form class="show-page-form form-delete-button"
                  action="/admin/products/tables/<%= product._id %>?_method=DELETE" method="POST">
                  <button class="btn show-btn" type="submit">Delete</button>
               </form>
               <form class="show-page-form form-edit-button" action="/admin/products/tables/<%= product._id %>/edit">
                  <button class="btn show-btn" type="submit">Edit</button>
               </form>
               <a class="btn back-btn" href="/admin/products/tables">Back</a>
            </section>
         </section>
      </section>
   </div>
</article>