<% include ../../partials/header %>

<main class="index-container">
  <% include ../../admin/admin-nav %>
  <section class="product-container container">
    <h1>Table Products</h1>
    <div class="product-index">
      <div class="product-filter-section">
        <span>Filter
          <!-- <i class="material-icons">arrow_drop_down</i> -->
          <i class="material-icons">arrow_drop_up</i>
        </span>
        <ul class="product-filter-options" style="display: none;">
          <li><a href="#">extendable</a></li>
          <li><a href="#">compact</a></li>
        </ul>
      </div>
      <a href="/admin/products/tables/new">Create New Product</a>
      <input type="text" placeholder="search" />
    </div>
    <div class="product-display-container">
      <div class="row">
        <% tableProducts.forEach(tables =>{ %>
        <div class="col s12 m6 l4">
          <div class="card">
            <div class="card-image">
              <img src="<%= tables.main_image %>" />
            </div>
            <div class="card-content">
              <a href="/admin/products/tables/<%= tables._id %>"><%= tables.title %></a>
              <span>$<%= tables.price %></span>
            </div>
            <a class="btn" href="/admin/products/tables/<%= tables._id %>">More Info</a>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </section>
</main>