<% include ../../partials/header %>

<main class="message-page col s12">
  <% include ../../admin/admin-nav %>
  <section class="message-center-header container">
    <div class="message-center-container title-container">
      <i class="material-icons hide-on-large-only">menu</i>
      <h1 class="message-center_h1">Messages</h1>
      <div class="input-field">
        <select class="browser-default" id="message-filter">
          <option class="disabled">Sort By:</option>
          <option value="oldest">Oldest</option>
          <option value="newest">Newest</option>
        </select>
        <!-- <label for="message-filter">Sort By:</label> -->
      </div>
    </div>

    <!-- collection container -->
    <div class="delete-container collection with-header">
      <div>
        <label for="delete-all">
          <input type="checkbox" id="delete-all" />
          <span></span>
        </label>
        <span id="message-checkbox-counter">-</span>
      </div>
      <input
        type="text"
        name="message-search"
        id="message-search"
        class="browser-default"
        placeholder="Search by Name or Subject"
      />
      <button
        class="material-icons btn"
        id="delete-all-icon"
        form="contact-messages"
      >
        delete
      </button>
    </div>
    <form id="contact-messages" action="/admin/messages/post" method="POST">
      <div class="collection container">
        <% messages.forEach(message =>{ %>
        <a
          href="/admin/messages/<%= message._id %>"
          id="message-container"
          class="collection-item"
        >
          <div class="collection-item-info">
            <div class="collection-group">
              <label for="<%= message.name %>">
                <input
                  type="checkbox"
                  class="message-checkbox"
                  id="<%= message.name %>"
                  name="message"
                  value="<%= message.message_value %>"
                />
                <span><%= message.name %></span>
              </label>
            </div>
            <div class="collection-group collection-group_subject">
              <%= message.subject %>
            </div>
            <div class="collection-group collection-group_date">
              <%= message.created_on.toLocaleDateString() %>
            </div>
            <form
              id="message-delete-button"
              action="/admin/messages/<%= message._id %>?_method=DELETE"
              method="POST"
            >
              <button class="material-icons message-center_delete">
                delete
              </button>
            </form>
          </div>
        </a>
        <% }) %>
        <!-- end of message body container -->
      </div>
    </form>
    <!-- end of collection container -->
  </section>
</main>
